@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap");

$text-primary: #818181;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.text-primary {
  color: $text-primary;
}
